.container {
    width: 70vw;
    height: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 9% 15%;
    border: 3px solid green;
}

h1 {
    color: green;
    margin: 0;
    font-size: 6em;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 35px;
    display: block;
}

a:hover, a:active {
    background-color: green;
    color: white;
}

.ques_container {
    width: 70vw;
    height: 70vw;
    justify-content: left;
    align-items: left;
    text-align: left;
    border: 3px solid green;
    margin: 9% 15%;
}

.allQues {
    margin: 2px 10px;
}

.info {
    display: flex;
    width: 100%;
}

.textQues {
    float: left;
    width: 50%;
    font-size: 20px;
    padding: 20px;
}

.textQues p {
    margin: 0;
    padding-bottom: 5px;
    padding-left: 40px;
    font-weight: bold;
}

#progressBar {
    width: 10rem;
    height: 1rem;
    border: 0.2rem solid green;
    border-radius: 50px;
    overflow: hidden;
}

.textScore {
    width: 50px;
    float: right;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}

.textScore p {
    float: left;
    margin: 0;
    padding-left: 220px;
    padding-top: 5px;
}

.h2 {
    margin: 0;
    float: right;
    display: flex;
}

.questions {
    display: block;
    float: left;
    width: 100%;
}

.questions h3 {
    font-size: 1rem;
    margin: 0;
}

.choices p {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 5px 20px;
    text-align: left;
    display: block;
    border-radius: 50px;
    font-weight: bold;
}

.choices p:hover, .choices p:active {
    background-color: green;
    color: white;
}

#achiever {
    font-size: 1.5rem;
    list-style-type: none;
}